extensions:
    algoliaSearch: petrjirasek\AlgoliaSearch\DI\AlgoliaSearchExtension

algoliaSearch:
    applicationId: abc123
    apiKey: abc123
    hosts: [host1, host2, host3]
    options: [cainfo : value1, curloptions : []]